{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Compétences
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row section-container">
			<div class="col-md-12 text-center">
				<p class="text-center mb-4">Pendant mes études à l'EPSI d'Arras, j'ai su engranger de nouvelles compétences, mais également au cours de mes stages. Voici quelques-unes de mes compétences :
				</p>
				<div class="text-center">
					<a href="/images/Tableaux compétences.pdf" target="_blank" class="btn btn-primary btn-custom">Accéder au tableau de compétences</a>
				</div>
			</div>
		</div>

		<div id="competences" class="row justify-content-center mt-5">
			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Gérer le patrimoine informatique</h5>
						<p class="card-text">J'ai acquis des compétences essentielles pour recenser et identifier les ressources numériques, exploiter des référentiels et normes, mettre en place des
							<br>
							habilitations, assurer la continuité des services informatiques.</p>
					</div>
					<div class="card-footer text-center">
						<a href="patrimoine.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Répondre aux incidents et aux demandes d’assistance et d’évolution</h5>
						<p class="card-text">J'ai développé des compétences pour collecter, suivre et orienter les demandes liées aux services réseau, systèmes et applicatifs, ainsi que pour traiter efficacement ces demandes.</p>
					</div>
					<div class="card-footer text-center">
						<a href="projet1.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Développer la présence en ligne de l’organisation</h5>
						<p class="card-text">J'ai acquis des compétences pour contribuer à la valorisation de l'image de l'organisation sur les médias numériques en respectant le cadre juridique et en tenant compte des enjeux économiques.</p>
					</div>
					<div class="card-footer text-center">
						<a href="projet1.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Travailler en mode projet</h5>
						<p class="card-text">J'ai développé des compétences pour analyser les objectifs et les modalités d'organisation d'un projet, planifier ses activités, évaluer les indicateurs
							<br>
							de suivi du projet et analyser les écarts pour garantir son succès.</p>
					</div>
					<div class="card-footer text-center">
						<a href="projet1.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Mettre à disposition des utilisateurs un service informatique</h5>
						<p class="card-text">Je suis capable de réaliser les tests d'intégration et d'acceptation d'un service, de déployer ce service, et d'accompagner les utilisateurs dans sa mise en place pour assurer son bon fonctionnement.</p>
					</div>
					<div class="card-footer text-center">
						<a href="projet1.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
				<div class="card w-100">
					<div class="card-body text-center">
						<h5 class="card-title">Organiser son développement professionnel</h5>
						<p class="card-text">Je suis compétent pour mettre en place mon environnement d'apprentissage personnel, utiliser des outils et stratégies de veille informationnelle et développer mon projet professionnel de manière efficace.</p>
					</div>
					<div class="card-footer text-center">
						<a href="projet1.html" class="btn btn-primary">Découvrir les projets</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
